<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="left-container">
            <nav class="left-navbar">
                <ul class="main-nav">
                    <li>
                        <a href="/index"> Home </a>
                    </li>
                    <li>
                        <a href="/services"> Services </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="logo">
            <a href="/index">Arch</a>
        </div>

        <div class="right-container">
            <nav class="right-navbar">
                <ul class="main-nav">
                    <li>
                        <a href="/about"> About </a>
                    </li>
                    <li>
                        <a href="/contact"> Contact </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="sec11">
        <div class="--col1">
            <h1 class="title1"> About Us </h1>
            <p class="mb-5"> lorem ipsum dolor sit amet, consectetur adip</p>
        </div>
    </div>
    <div class="about-container">
        <div class="text">
            <h1 class="header">
                COMPANY STORY
            </h1>
            <p>
                Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Ea, consequuntur, harum? Culpa, 
                iure vel fugiat veritatis obcaecati architecto.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi aut at quisquam, perferendis dolores fuga nulla ratione eveniet ipsam, 
                blanditiis repellendus porro. Voluptatem tempore ratione ut ipsa et deleniti!
            </p>
            <p>
                Veniam officiis ad doloribus nostrum, id, excepturi. Quam aliquam, explicabo 
                non dolorem eveniet similique! Veritatis necessitatibus 
                ipsa eligendi distinctio suscipit magnam quos itaque, numquam sequi. Ipsa eveniet consectetur deleniti.
            </p>
            <p>
                Enim laudantium, perferendis distinctio! Natus ex, ad quisquam nemo inventore, 
                saepe eveniet temporibus debitis magni ea. Corporis illo necessitatibus,
                error laboriosam voluptatum nostrum id at adipisci repellendus, quod explicabo?
            </p>
        </div>
        <div class="img5">
            <img src="/salon-moderne.jpg" style="height:500px">
        </div>
    </div>



    <div class="sect3">
        <div class="about-us">
            <h1>
                MEET OUR TEAM
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Accusantium atque rem, ut voluptatum aspernatur laboriosam optio, quas sint minus, 
                soluta velit voluptatibus eos labore maiores fugit ratione. Optio, numquam eos.
            </p>
        </div>
        <div class="about-cont">
            <div class="card">
                <img src="https://preview.colorlib.com/theme/marga/images/person_1.jpg" alt="">
                <h3>Founder</h3>
                <h2>JAMES DOE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
            <div class="card">
                <img src="https://preview.colorlib.com/theme/marga/images/person_2.jpg" alt="">
                <h3>Founder</h3>
                <h2>JAMES DOE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
            <div class="card">
                <img src="https://preview.colorlib.com/theme/marga/images/person_3.jpg" alt="">
                <h3>Founder</h3>
                <h2>JAMES DOE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
            <div class="card">
                <img src="https://preview.colorlib.com/theme/marga/images/person_4.jpg" alt="">
                <h3>Founder</h3>
                <h2>JAMES DOE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
            <div class="card">
                <img src="https://preview.colorlib.com/theme/marga/images/person_5.jpg" alt="">
                <h3>Founder</h3>
                <h2>JAMES DOE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
            <div class="card">
                <img src="https://preview.colorlib.com/theme/marga/images/person_1.jpg" alt="">
                <h3>Founder</h3>
                <h2>JAMES DOE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
        </div>
    </div>
</body>
</html>