<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="left-container">
            <nav class="left-navbar">
                <ul class="main-nav">
                    <li>
                        <a href="/index"> Home </a>
                    </li>
                    <li>
                        <a href="/services"> Services </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="logo">
            <a href="/index">Arch</a>
        </div>

        <div class="right-container">
            <nav class="right-navbar">
                <ul class="main-nav">
                    <li>
                        <a href="/about"> About </a>
                    </li>
                    <li>
                        <a href="/contact"> Contact </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="sec1">
        <div class="--col1">
            <h1 class="title1">Ready To Start Your Home</h1>
            <p class="mb-5"> lorem ipsum dolor sit amet, consectetur adip</p>
            <p class="mb-0">
                <a href="/contact" class="btn btn-primary" style="text-decoration: none;"> Contact Us</a>
            </p>
        </div>
        <div class="--col1">
            <h1 class="title1">We Are Specialist In The Field of Architect</h1>
            <p class="mb-5"> lorem ipsum dolor sit amet, consectetur adip</p>
            <p class="mb-0">
                <a href="/contact" class="btn btn-primary" style="text-decoration: none;"> Contact Us </a>
            </p>
        </div>
    </div>

    <div class="sec2">
        <div class="--col2">
            <div class="white-box">
                <div>
                <h2 class="heading"> Welcome To  <br>  Our Company </h2>
                <P>
                lorem ips Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Nobis minus incidunt aliquam consequatur? Reiciendis unde laborum nihil! Fugiat, 
                omnis alias id illo officia inventore voluptatum ipsam. 
                Consequuntur debitis possimus obcaecati.
                </P>
                <p>
                    Aobis minus incidunt aliquam consequatur? Reiciendis unde laborum nihil! Fugiat, 
                    omnis alias id illo officia inventore voluptatum ipsam. 
                    Consequuntur debitis possimus obcaecati.
                </p>
                </div> 
            </div>
            <div class="img">
                <img src="https://preview.colorlib.com/theme/marga/images/xabout_2.jpg.pagespeed.ic.m30SPV5Hbn.webp" alt="arch" class="img1">
            </div>
            
        </div>
    </div>
    
</body>
</html>