<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="left-container">
            <nav class="left-navbar">
                <ul class="main-nav">
                    <li>
                        <a href="/index"> Home </a>
                    </li>
                    <li>
                        <a href="/services"> Services </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="logo">
            <a href="/index">Arch</a>
        </div>

        <div class="right-container">
            <nav class="right-navbar">
                <ul class="main-nav">
                    <li>
                        <a href="/about"> About </a>
                    </li>
                    <li>
                        <a href="/contact"> Contact </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="sect1">
        <div class="--col3">
            <div class="services">
            <img src="http://cdn.home-designing.com/wp-content/uploads/2020/07/orange-and-black-living-room.jpg" alt=""
            style="width:100% ;height: 477px">
            <div class="centered">
                <h1 class="title1">OUR SERVICES </h1>
            <p class="mb-5"> lorem ipsum dolor sit amet, consectetur adip</p>
            </div>
            </div>
        </div>
    </div>

    <div class="sect2">
        <h1>What We Do</h1>
        <div class="services-container">
            <div class="serv-card">
                <h2>CREATIVE STAIRS</h2>
                <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
            <div class="serv-card">
                <h2>KITCHEN DESIGN</h2>
                <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
            <div class="serv-card">
                <h2>LAMP DECORATION</h2>
                <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
            <div class="serv-card">
                <h2>INTERIOR BLUEPRINT</h2>
                <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
            <div class="serv-card">
                <h2>DINNING TABLE</h2>
                <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
            <div class="serv-card">
                <h2>MODERN DESIGN</h2>
                <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
        </div>
    </div>
</body>
</html>